body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    font-size: x-large;
}

.navbarDiv {
    padding-top: 20px;
    height: 100px;
    border-bottom: 1px solid black;
}

.login-btn {
    background-color: #183D3D;
}

.signup-btn {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid white;
}

.header-col {
    padding-left: 200px;
    padding-top: 40px;
}

.header-content {
    width: 300px;
}

.get-started-btn {
    background-color: #183d3d;
}
.get-started-btn:hover{
    background-color: #798383;
}

.image-container {
    padding-top: 40px;
}

.showcase-img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

.names {
    transform: translateY(-1200%);
    color: rgb(0, 0, 0);
    align-items: center;
    padding-left: 20px;
    font-size: 1rem;
}

.desc {
    background-color: black;
    width: 100%;
    height: 800px;
    transform: translateY(-46px);
    margin-left: 12px;
    font-size: 1rem;
}

.creative-learning {
    color: white;
    padding-top: 170px;
    padding-left: 200px;
    width: 300px;
}

.checklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50%;
    transform: translateY(-230px);
}

.checklist-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.icon {
    height: 35px;
    background-color: #5C8374;
    /* width: 42px; */
    margin-right: 10px;
}

.white-text {
    color: white;
}

.info-box {
    background-color: #183D3D;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    transform: translateY(-400%);
    font-size: medium;
}
.get-started-btn{
    border:1px transparent ;
    
}
