.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.2s ease;
    background-color: #040d12;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
}

.sidebar.closed {
    width: 5rem;
}

.sidebar.open {
    width: 16rem;
}

.sidebar-header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sidebar-title {
    font-size: 1rem;
    font-weight: bold;
}

.sidebar-button {
    cursor: pointer;
    font-size: 1.25rem;
}

.sidebar-menu {
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar-menu-item:hover {
    background-color: #183d3d;
    border-radius: 20px;
   
}

.sidebar-menu-item-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.sidebar-menu-item-icon {
    font-size: 1.25rem;
}

.sidebar-menu-item-text {
    margin-left: 0.5rem;
}

.profile-section {
    padding: 1rem;
}

.profile-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    transition: background-color 0.2s ease;
    border-radius: 0.375rem;
    text-decoration: none;
    color: white;
}

.profile-link:hover {
    background-color: #183d3d;
}

.profile-img {
    border: 2px solid white;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
}

.profile-img.closed {
    margin: auto;
}

.profile-img.open {
    margin-right: 0.5rem;
}

.logout-button {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: small;
    transition: background-color 0.2s ease;
}

.logout-button:hover {
    background-color: #183d3d;
}

.logout-button-icon {
    font-size: 1.25rem;
}

.logout-button-text {
    margin-left: 0.5rem;
}
